<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DXWindowsApplication5.Properties.Settings.DBSAMPLEConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;C:\Program Files (x86)\Microsoft Office\Office14\1033\DBSAMPLE.MDB&quot;" providerName="System.Data.OleDb"/>
        <add name="DXWindowsApplication5.Properties.Settings.countriesDBConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\countriesDB.mdb" providerName="System.Data.OleDb"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
